.jumbotron{
  text-align: center; 
  background-color: lavender; 
  width: 90%; 
  margin: auto; 
  border-radius: 30px; 
}

body{
  background-color: lavenderblush; 
}

.navbar{
    background-color: #91bdd8;  
    color: black; 
}

.col-md-4{
    background-color: lavender; 
    padding: 3%; 
    margin: auto;
    margin-top: 3%;
    border-radius: 30px; 
}

.col-11{
    background-color: lavender; 
    padding: 3%; 
    margin: auto;
    margin-top: 3%;
    border-radius: 30px; 
}

a{
    color: black; 
}

.pagehr{
     border: 0;
     height: 1px;
     background-image: linear-gradient(to right, darkgrey, lavender);
}

img{
    width: 30%;
}

.album{
    width: 100%; 
}

.card{
    width: 30%; 
    margin: 1%; 
    border: 8px solid lavender;
}

.pic{ 
    width: 100%; 
    display: block;
}

.card-text{
    text-align: center;
}