.jumbotron{
  text-align: center; 
  background-color: lavender; 
  width: 90%; 
  margin: auto; 
  border-radius: 30px; 
}

body{
  background-color: lavenderblush; 
}

.navbar{
    background-color: #91bdd8;  
    color: black; 
}

.col-md-4{
    background-color: lavender; 
    padding: 3%; 
    margin: auto;
    margin-top: 3%;
    border-radius: 30px; 
}

